<div class="row">
  <div class="col-xs-12">
    <button type="button"
            class="btn btn-success"
            (click)="onNewDevice()">New Device</button>
    <hr>
  </div>
  <hr>
  <div class="form-group filter">
    <label for="filter">Filter</label>
    <input type="text"
           class="form-control"
           id="filter"
           [(ngModel)]="deviceName">
  </div>
</div>
<div class="row">
  <div *ngFor="let device of devices | filter: deviceName: 'name'">
    <app-device-item [device]="device"></app-device-item>
  </div>
</div>