<div class="dashboard">
  <div class="dashboard__forms"></div>
  <div class="dashboard__charts">
    <div class="dashboard__line-charts">
      <chart [type]="'doughnut'"
             [data]="doughnutData"
             [options]="dOptions"
             #doughnutChart
             class="dashboard__bars">
      </chart>
    </div>
    <div class="dashboard__bar-chart">
      <div class="dashboard__bar-chart-info">
        <button type="button"
                (click)="onRand()">Random</button>
      </div>
    </div>
  </div>
</div>