<h1>Our inventory</h1>
<form [formGroup]="form"
      (submit)="onSubmit()">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email"
               id="email"
               class="form-control">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               id="password"
               class="form-control">
    </div>
    <div>
        <button class="btn btn-primary"
                type="submit">
            {{ canLogin ? 'Sign In' : 'Sign Up'}}
        </button>
        &nbsp; | &nbsp;
        <button class="btn btn-default"
                (click)="switchMode()"
                type="button">
            Switch to {{ canLogin ? 'Sign Up' : 'Sign In' }}
        </button>
    </div>
</form>